<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/imgs/page-initial.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Parabéns</ion-card-subtitle>
        <ion-card-title>Bem-vindo ao Help Service</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aqui você poderá solicitar serviços de pessoal qualificado, além, claro, de poder oferecer seus serviços. A plataforma é aberta a todos os tipos de serviços que possam ser prestados.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Recursos</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Histórico de Atendimentos</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Solicitar Serviços</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Meus atendimentos</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
