<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h2> Serviços </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-content>
        <ion-item>
          <ion-label>Item 1</ion-label>
          <ion-label>Item 1.0</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Item 2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Item 3</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Item 4</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Item 5</ion-label>
        </ion-item>
      </ion-content>

</ion-content>
